{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ list_object.name }}</h1>
            <h2>Task</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list_object in list_object.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_update' list_object.id %}">{{ list_object.name }}</a>
                            </td>
                            <td>{{ item.due_date:"M d,Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
