{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>Create a new item</h1>
      <form method="post">
        <input type="text" name="task">
        <input type="text" name="due date">
        <input type="checkbox" name="is_completed">
        <select name="list" ></select>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
    </div>
  </main>
{% endblock content %}
